body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

h1 {
  text-align: center;
  margin: 20px 0;
}

#products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

.product-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0.5rem;
  padding: 1rem;
  width: 40vw;
  max-width: 270px;
  font-size: 1rem;
  line-height: 1.5rem;
}
.producteur {
  font-size: 0.8rem;
  line-height: 1rem;
  margin-top: 0.2rem;
}

.product-card h5 {
font-size: 1rem;
margin: 0;
line-height: 1.5rem;
}

.product-card img {
  max-width: 100%;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
}

.product-card h2 {
  font-size: 18px;
  margin: 0;
}

.product-card p {
  color: #333;
  margin: 0;
}

.product-card span {
  font-weight: bold;
}
